body {background-color: #C1FABC}
h3 {font-style:normal}
h3 {text-align: center}

h1 {font-weight:bolder}
h1 {font-style:italic}
h1 {text-align: center}

p {font-style:oblique}

h3 {
    border-style:ridge;
    border-top-width:thin;
    border-right-width:thick;
    border-bottom-width:thick;
    border-left-width:1px
    }

img {float: left}

.pp {
    border: 2px ridge #146809;
    }
    
address {
    border-style: ridge;
    padding-top:0cm;
    padding-right:10%
    }
address {text-align: center}

h3.margin {
    margin-top:10%;
    margin-left:20%
    }

footer{text-align: center}
